/* Variables */
/* Colors */
@colorBrand: #f16d7f;
@colorBrandSecond: #ef5b70;
@colorBrandLight: #f8f3f4;
@colorBrandSecond: #f16d7f;
@colorHighLights: #222222;
@colorHighLightsInvert: #fff;
@colorHighLightsSecond: #222224;
@colorHighLightsSecondInvert: #fbfbfb;
@colorHighLightsThird: #232323;
@colorHighLightsFourth: #4f4f4f;
@colorHighLightsFith: #838383;
@colorHighLightsSixth: #4a4a4a;
@colorHighLightsSixthInvert: #eaeaea;
@colorHighLightsSeventh: #636363;
@colorRegular: #9f9f9f;
@colorRegularSecond: #898989;
@colorRegularThird: #7a7a7a;
@colorBackGround: #e6e6e6;
@colorBackGroundFourth: #6f6e6e;
@colorBackGroundSecond: #cdcdcc;
@colorBackGroundThird: #e8e8e8;
@colorPicts: #b2b2b2;
@colorPictsActive: #f7f7f8;
@colorFadeOut: #a4a4a4;
@colorSpacer: #ececec;
@colorBorder: #d6d6d6;
@colorInput: #e1e1e1;
@colorStarts: #e4af48;
@colorX: #c0c0c0;
@buttonGradient: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
@textBaseSize: 14px;
@textBaseLineHeight: 24px;
@textBaseWeight: 400;
@textLS: 0.025em;

/* Fonts */
.fonts(@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) {
    font-size: @size;
    line-height: @lHeight;
    font-weight: @weight;
    letter-spacing: @ls;
}

.borders(@st: solid; @color: black; @width: 1px; @radius: 3px) {
    border-style: @st;
    border-color: @color;
    border-width: @width @width @width @width;
    border-radius: @radius @radius @radius @radius;
}

.bordersNoStyleSide(@side) {
    border-@{side}-style: none !important;
}

.bordersNoRadiusSide(@side1; @side2) {
    border-@{side1}-radius: 0 !important;
    border-@{side2}-radius: 0 !important;
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

.wrap {
    width: 1140px;
    margin: 0 auto;

}


.header {
    background-color: @colorHighLightsInvert;

    &-hr {

        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: @colorInput;
    }

    &-wrap {

        display: flex;
        justify-content: space-between;
        padding: 25px 15px 24px 15px;
    }

    & > div > div > div {

        display: flex;
        align-items: center;
    }

    .search {
        flex-grow: 1;
    }
}

.main {
    &-nav {

        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0 20px 0 20px;
        list-style: none;

    }
}

.nav {
    &-item {
        padding: 20px 20px;

        &:hover &-ddc {
            display: flex;
        }

        &:hover .nav-link {
            background-color: @colorHighLights;
            color: @colorHighLightsInvert;
        }

        &-active {
            border-bottom: 3px;
            border-bottom-color: @colorBrandSecond;
            border-bottom-style: solid;
        }

        &-ddc {
            display: none;
            position: absolute;
            background-color: @colorHighLightsInvert;
            z-index: 1;
            min-width: 846px;
            min-height: 310px;
            border-radius: 5px;
            padding: 20px 24px 20px 0;

            & .col {
                display: flex;

                &:last-child {
                    flex-wrap: wrap;
                }
            }

            &-item {
                min-width: 235px;
                padding-left: 24px;
            }

            & h3 {
                /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                .fonts(14px; 32px; 400);
                text-transform: uppercase;
                color: @colorHighLightsThird;
                margin: 0 0 15px 0;
                border-bottom: 1px solid @colorBackGroundThird;
            }

            & .browse-nav {
                list-style: none;
                padding: 0;
                margin: 0 0;
            }

            & .browse-nav .browse-link {
                text-decoration: none;
                /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                .fonts(@lHeight: 28px);
                color: @colorHighLightsFourth;
                padding: 0;
            }


            & a {

                display: block;
            }

            & a:hover {
                background-color: @colorBackGroundThird;

            }
        }
    }


    &-link {
        text-decoration: none;
        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
        .fonts(@lHeight: 26px; @weight: 700; @ls: normal);
        text-transform: uppercase;
        color: @colorHighLights;
        position: relative;

    }



}



.logo {
    margin: 10px 37px 10px 0;
    justify-content: space-between;

    & a {

        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
        .fonts(27px; 32px; 300);
        text-transform: uppercase;
        color: @colorHighLights;
        text-decoration: none;
        display: flex;
    }

    & * {
        align-self: center;
    }

    & a > span {
        margin-left: 13px;
    }

    & span > span {
        font-weight: 900;
        color: @colorBrand;
    }
}

.btn {
    position: relative;

    & button {
        cursor: pointer;
    }


    /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
    &:hover &-decor-def {
        background-image: none;
    }

    &:hover &-decor-brand {
        background-color: @colorHighLightsInvert;
        color: @colorHighLights;
        outline: 1px solid @colorBackGroundSecond;
        transition-duration: 100ms;

        & span {
            background-color: @colorHighLightsInvert;
            color: @colorHighLights;

        }
    }


    &:hover &-decor-bap {
        background-color: @colorHighLightsInvert;
        color: @colorHighLights;
        outline: 1px solid @colorBackGroundSecond;
        transition-duration: 100ms;

        & span {
            background-color: @colorHighLightsInvert;
            color: @colorHighLights;

        }
    }

    &:hover &-decor-check {
        background-color: @colorBrand;
        color: @colorHighLightsInvert;
        transition-duration: 100ms;

        & span {
            background-color: @colorBrand;
            color: @colorHighLightsInvert;

        }
    }

    &:hover &-decor-cart {
        background-color: @colorHighLightsSixth;
        color: @colorHighLightsSixthInvert;
        transition-duration: 100ms;

        & span {
            background-color: @colorHighLightsSixth;
            color: @colorHighLightsSixthInvert;

        }
    }

    &-decor {
        &-def {
            padding: 0;
            .fonts(@lHeight: 38px; @weight: 300);

            background-color: @colorBackGroundSecond;
            background-image: @buttonGradient;


        }

        &-brand {
            padding: 0;
            .fonts(15px; 38px; 400);

            background-color: @colorBrand;
            background-image: none;
        }

        &-bap {
            padding: 0;
            .fonts(16px; 54px; 700);
            text-decoration: none;
            text-align: center;

            background-color: @colorBrand;
            background-image: none;
        }

        &-check {
            padding: 0;
            .fonts(14px; 50px; 700; normal);
            margin-bottom: 10px;
            text-transform: uppercase;
            background-color: @colorHighLightsInvert;
            background-image: none;
            text-decoration: none;
            text-align: center;
        }

        &-cart {
            padding: 0;
            .fonts(14px; 50px; 700; normal);
            text-transform: uppercase;
            background-color: @colorHighLightsInvert;
            background-image: none;
            text-decoration: none;
            text-align: center;
        }
    }

    &-borders {
        .borders(@color: @colorBackGround);

        &-none {
            border: none;
        }

        &-check {
            .borders(@color: @colorBrand; @radius: 0px);
        }

        &-cart {
            .borders(@color: @colorHighLightsSixthInvert; @radius: 0px);
        }
    }



    /* left side connecting */
    &-cls {
        .bordersNoStyleSide(right);
        .bordersNoRadiusSide(top-right; bottom-right);
    }

    /* right side connecting */
    &-crs {
        .bordersNoStyleSide(left);
        .bordersNoRadiusSide(top-left; bottom-left);
    }

    &-text {
        &-def {
            padding-left: 16px;
            color: @colorHighLights;
        }

        &-brand {
            padding-left: 20px;
            color: @colorHighLightsInvert;
        }


        &-check {
            padding-left: 20px;
            color: @colorBrand;
        }

        &-cart {
            padding-left: 20px;
            color: @colorHighLightsSixth;
        }
    }

    &-icon {
        &-def {
            padding: 0 8px;
            color: @colorHighLightsFith;
        }

        &-brand {
            padding: 0 12px 0 8px;
            color: @colorHighLightsInvert;
            font-size: 14px;
        }

        &-bap {
            padding: 0 20px 0 10px;
            color: @colorHighLightsInvert;
            font-weight: 400;
        }
    }

    &-ddc {
        display: none;
        position: absolute;
        background-color: @colorHighLightsInvert;
        z-index: 1;
        min-width: 262px;
        padding: 16px;
        border-radius: 5px;

        & h3 {
            /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
            .fonts(14px; 32px; 400);
            text-transform: uppercase;
            color: @colorHighLightsThird;
            margin: 0;
            border-bottom: 1px solid @colorBackGroundThird;
        }

        & .browse-nav {
            list-style: none;
            padding: 0;
            margin: 16px 0;

            & .browse-link {
                text-decoration: none;
                /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                .fonts(@lHeight: 28px);
                color: @colorHighLightsFourth;
                padding: 0;
            }

            & a {
                display: block;

                &:hover {
                    background-color: @colorBackGroundThird;

                }
            }
        }




    }

    &:hover &-ddc {
        display: block;
    }

}

.splt-form {
    display: flex;

    &-search {
        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
        .fonts(14px; 38px; 300);

        &-inp {
            color: @colorFadeOut;
            width: 80%;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            padding: 0px 6px 0px 16px;

        }


        /* left side connecting */
        &-cls {
            .bordersNoStyleSide(right);
            .bordersNoRadiusSide(top-right; bottom-right);
        }

        /* right side connecting */
        &-crs {
            .bordersNoStyleSide(left);
            .bordersNoRadiusSide(top-left; bottom-left);
        }

        /* side2side */
        &-s2s {
            .bordersNoRadiusSide(top-right; bottom-right);
            .bordersNoRadiusSide(top-left; bottom-left);
        }

        &-btn {
            width: 20%;
            color: @colorFadeOut;
            background-color: @colorHighLightsInvert;

            &:active {
                opacity: 0.29;
                transition-duration: 100ms;
                background-color: @colorHighLightsInvert;
            }

            &:hover {
                opacity: 0.29;
                transition-duration: 200ms;
                background-color: @colorFadeOut;
                color: @colorHighLightsInvert;
            }

        }

        &-borders {
            .borders(@color: @colorBackGround);
        }

    }

    &-subscribe {
        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
        .fonts(14px; 46px; 400);

        &-inp {
            color: @colorHighLightsSecond;
            width: 65%;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            padding: 0px 6px 0px 26px;
            background-color: @colorInput;

        }


        /* left side connecting */
        &-cls {
            .bordersNoStyleSide(right);
            .bordersNoRadiusSide(top-right; bottom-right);
        }

        /* right side connecting */
        &-crs {
            .bordersNoStyleSide(left);
            .bordersNoRadiusSide(top-left; bottom-left);
        }

        &-btn {
            width: 35%;
            color: @colorHighLightsInvert;
            background-color: @colorBrand;


            &:active {
                color: @colorHighLights;
                transition-duration: 100ms;
                background-color: @colorHighLightsInvert;
            }

            &:hover {
                transition-duration: 200ms;
                background-color: @colorFadeOut;
                color: @colorHighLights;
            }
        }

        &-borders {
            /*@st: solid; @color: black; @width: 1px; @radius: 3px)*/
            .borders(@st: none; @radius: 23px);
        }

    }


}


.account {
    .cart {
        margin-right: 10px;
        padding: 3px;
        position: relative;

        &:hover {
            background-color: @colorBackGroundThird;
        }

        &:hover .cart-ddc {
            display: flex;
        }

        &-ddc {
            display: none;
            flex-direction: column;
            position: absolute;
            left: -47px;
            background-color: @colorHighLightsInvert;
            z-index: 1;
            padding: 20px;
            border-radius: 5px;

            & > * {
                padding: 0 20px;
            }

            & .cart-list {
                list-style: none;
                margin: 16px 0px 20px 0px;
                min-width: 262px;

                & .cart-item {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid @colorBackGroundThird;
                    .fonts(12px; 1.2; 700; normal);
                    text-transform: uppercase;
                    color: @colorHighLights;
                    padding-bottom: 20px;
                    cursor: pointer;

                    &:hover {
                        outline: 1px solid @colorBrand;
                    }

                    & .col p {
                        margin: 10px;

                        & .sm-text {
                            font-size: 10px;
                        }
                    }

                    & .col:nth-child(2) {
                        flex-grow: 1;

                        & p:nth-child(2) {
                            color: @colorStarts;
                        }

                        & p:last-child {
                            color: @colorBrand;
                        }
                    }

                    & .col:last-child {
                        color: @colorX;

                        &:hover {
                            color: @colorHighLights;
                        }
                    }
                }
            }

            & .total {
                display: flex;
                flex-direction: column;

                & > .summ {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 30px;

                    & span {
                        .fonts(16px; 12px; 700; normal);
                    }

                    & span:first-child {
                        text-align: left;
                    }

                    & span:last-child {
                        text-align: left;
                    }
                }

                & > .btn {
                    display: flex;



                    & a {
                        flex-grow: 1;
                    }

                }
            }
        }
    }

    & .button-cls-split {

        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
        .fonts(@lHeight: 32px);
        color: @colorHighLightsInvert;
        background-color: @colorBrand;
        background-image: none;


    }
}

.slider {
    height: 613px;
    padding-top: 224px;
    background: url(../img/image_frame_84.png) center center/cover no-repeat;
    background-color: @colorBackGroundThird;

    & > div > h1 {

        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
        .fonts(40px; 1.2);
        color: @colorHighLights;
        width: 50%;
        padding-left: 12px;
        border-left: 12px solid @colorBrand;
    }

    & > div > h1 > span:first-child {
        font-size: 60px;
    }

    & > div > h1 > span:last-child {
        color: @colorBrand;
    }
}


.category {
    padding: 67px;

    & > .wrap {
        display: flex;
    }

    & > .wrap > .cat-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    & .item {
        padding: 10px;
        position: relative;
    }

    & .item h3 {
        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
        .fonts(18px; 1.2; 900);
        text-transform: uppercase;
        color: @colorHighLights;
        display: inline-block;
        padding: 16px;
        margin: 0;
        position: absolute;
        top: 35px;
        left: 10px;
        background-color: white
    }

    & .item h3 span {
        font-size: 30px;
        color: @colorBrand;
    }
}

.products {
    margin-bottom: 113px;

    & .cont {
        display: flex;

        & .category {
            min-width: 244px;
            padding: 0 15px;

            & summary {
                border-left: 5px solid @colorBrandSecond;
                border-bottom: 1px solid @colorInput;
                .fonts(14px; 37px; 700; normal);
                text-transform: uppercase;
                color: @colorBackGroundFourth;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 15px;

                &::-webkit-details-marker {
                    display: none;
                }

                &::after {
                    content: "\f0d7";
                    font: normal normal normal 14px/1 FontAwesome;

                }

                &:focus {
                    outline: none;
                }
            }

            details {

                margin-bottom: 18px;

                &[open] {
                    & summary {
                        color: @colorBrandSecond;

                        &::after {
                            content: "\f0d7";
                            transform: rotate(180deg);
                        }
                    }
                }

                & .nav-cat {
                    list-style: none;
                    padding: 0;
                    margin: 16px 12px;

                    & .nav-cat-link {
                        text-decoration: none;
                        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                        .fonts(@lHeight: 33px; @ls: normal);
                        color: @colorHighLightsFourth;
                        padding: 0;
                    }

                    & a {
                        display: block;

                        &:hover {
                            background-color: @colorBackGroundThird;

                        }
                    }
                }
            }

            & .nav-cat {}
        }

    }

    & .grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        & .item {
            padding: 11px;

            & a {
                text-decoration: none;
                display: block;
            }

            & h3 {

                /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                .fonts(13px; 1.2; 400; normal);
                text-transform: uppercase;
                color: @colorHighLights;
                margin-left: 15px
            }

            & p {
                /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                .fonts(16px; 1.2; 700; normal);
                text-transform: uppercase;
                color: @colorBrand;
                margin-left: 15px
            }
        }
    }



    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    & .head {
        text-align: center;
        margin-bottom: 50px;

        & h2 {
            /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
            .fonts(30px; 54px; 700);
            color: @colorHighLights;
        }

        & p {
            /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
            .fonts(14px; normal);
            color: @colorRegular;
        }

        & > * {
            margin: 0;
        }
    }

    & .footer {
        display: flex;
        justify-content: center;

        & .button-cls-split {

            /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
            .fonts(15px; 30px; );
            color: @colorHighLightsInvert;
            background-color: @colorBrand;
            background-image: none;
        }

        & .button-cls {

            /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
            .fonts(16px; 30px);
            color: @colorHighLightsInvert;
            background-color: @colorBrand;
            background-image: none;
            margin-left: 13px;
        }
    }
}

.top-ribbon {
    background-color: @colorBrandLight;
    text-transform: uppercase;
    margin-bottom: 88px;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 46px 15px;

        & h1 {
            .fonts(24px; 24px; 900; normal);
            color: @colorBrand;
        }

        & .breadcrumbs {
            .fonts(14px; 20px; 300; normal);
            color: @colorHighLightsSeventh;

            & .current {
                color: @colorBrand;
                font-weight: 700;
            }

            & * {
                .fonts(14px; 20px; 300; normal);
            }
        }

        & a {
            text-decoration: none;
        }
    }
}

.bottom-ribbon {
    background-color: @colorHighLightsSecond;

    &-wrap {
        display: flex;
        align-items: flex-start;
        min-width: 374px;
        padding: 60px 0px;

        & > .item {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            margin: 25px;

            & img {
                align-self: center;
                margin: 0 28px 30px 0;
            }

            & .cont {
                text-align: center;
            }

            & h3 {
                margin: 0 0 10px 0;
                /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                .fonts(20px; 1.2; 700);
                color: @colorHighLightsSecondInvert;
            }

            & p {
                /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                .fonts(14px; 24px; 300);
                color: @colorHighLightsSecondInvert;
            }
        }
    }
}

.feature {

    & > div > div > .col:first-child {
        background-image: url(../img/layer_39_1321.png), url(../img/rectangle_21_copy_1314.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;

        & > h2 {
            /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
            .fonts(53.7px; 0.8; 700);
            color: @colorHighLightsInvert;
            margin-top: 146px;
            margin-left: 40px;

            & span:first-child {
                color: @colorBrand;
            }

            & span:last-child {
                font-size: 32.2px;
            }
        }
    }

    & .banner {
        display: flex;
        margin-bottom: 97px;

        & > .col:first-child {
            min-width: 767px;
            min-height: 529px;
        }

        & > .col:last-child {
            display: flex;
            flex-direction: column;
            min-width: 374px;
            padding: 48px 28px;
            background-color: @colorHighLightsSecond;

            & > .item {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-top: 15px;

                & img {
                    align-self: flex-start;
                    margin-right: 28px
                }

                & h3 {
                    margin: 0;
                    /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                    .fonts(20px; 1.2; 700);
                    color: @colorHighLightsSecondInvert;
                }

                & p {
                    /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                    .fonts(14px; 24px; 300);
                    color: @colorHighLightsSecondInvert;
                }
            }
        }
    }
}


.subscribe {
    min-height: 613px;

    background-image: url(../img/rectangle_9_copy_2196.png), url(../img/rectangle_9_2194.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: rgba(242, 242, 242, 0.5);
    background-size: cover;

    & .cont {
        display: flex;
        justify-content: center;

        & .col {


            padding-top: 224px;
            min-height: 613px;
            min-width: 50%;

            &:first-child {
                border-width: 0 1px 0 0px;
                border-color: @colorHighLightsInvert;
                border-style: solid;

                & > .item {
                    padding-right: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;

                    & img {
                        align-self: flex-start;
                        margin-right: 28px;
                    }

                    & .cont {
                        flex-direction: column;
                        margin: 0 32px 0 0;

                        & p {
                            &:first-child {
                                /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                                .fonts(16px; 26px);
                                font-style: italic;
                                color: #222224;
                            }

                            &:nth-child(2) {
                                /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                                .fonts(12px; 14px; 300; normal);
                                color: #222224;

                                & span {
                                    /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                                    .fonts(16px; 26px; 700);
                                    color: #f16d7f;
                                }
                            }
                        }
                    }

                }
            }

            &:last-child > .item {
                padding: 0 90px;

                & .cont {
                    display: flex;
                    flex-direction: column;

                    & h3 {
                        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                        .fonts(14px; 24px);
                        text-transform: uppercase;
                        color: @colorHighLightsSecond;
                        text-align: center;

                        & span {
                            font-size: 24px;
                            line-height: 54px;
                        }
                    }
                }
            }
        }

    }

    & .sub-nav {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        padding: 0;

        &-item {
            border-bottom: 2px;
            border-style: solid;
            border-color: @colorBorder;
            min-width: 38px;
            margin: 0 10px 0 0;

            &:hover {
                border-color: @colorHighLightsSecond;
            }

            &-active {
                border-color: @colorBrand;
            }
        }

        &-link {
            text-decoration: none;
        }
    }

    & .sub-slide {
        text-decoration: none;
    }

}




.copyright {
    background-color: @colorBackGround;

    & .cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 79px;

        & > * {
            margin: 0 16px;
        }
    }

    & .icon-nav {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        padding: 0;

        &-item {
            background-color: @colorHighLightsInvert;
            min-width: 32px;
            min-height: 32px;
            margin: 0 10px 0 0;
            text-align: center;
            transition-duration: 300ms;

            &:hover {
                background-color: @colorBrand;
                transition-duration: 200ms;

                & a {

                    color: @colorPictsActive;
                }
            }

            &:active {

                background-color: @colorHighLightsInvert;
                opacity: 0.29;
                transition-duration: 100ms;

                & a {
                    color: @colorPicts;
                }
            }
        }

        &-link {
            text-decoration: none;
            /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
            .fonts(15px; 32px);
            color: @colorPicts;
        }

    }

    & .text {
        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
        .fonts(15px; 42px);
        color: @colorRegularThird;
    }
}

.footer {
    & .footer-wrap .cont .logo {
        min-width: 430px;
        margin-right: 90px;
    }

    & .cont {
        display: flex;
        padding: 110px 0 85px 0;

        & .logo p {
            /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
            .fonts(14px; 24px; 300);
            color: @colorRegularSecond;
        }

        & .col {
            margin: 0 15px;
            min-width: 15%;

            & h2 {
                /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
                .fonts(18px; 26px; 700);
                color: @colorBrand;
            }
        }
    }

    & .footer-nav {
        list-style: none;
        padding: 0;

        &-link {
            text-decoration: none;
            /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
            .fonts(16px; 40px);
            color: @colorRegularSecond;
            display: block;

            &:hover {
                color: @colorHighLightsSecond;
                background-color: @colorSpacer;
            }
        }
    }

}
