* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
    outline: 1px solid red;

}

.header-wrap {

    display: flex;
    justify-content: space-between;
}

.nav-wrap {}

.main-nav {

    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    background-color: #e8e8e8;
}

.logo {
    background-color: gold;
    margin-right: 38px;
}

.brand {

    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
}

.brand span:last-child {
    font-weight: 900;
    color: #f16d7f;
}

.logo img {
    padding: 0 13px;
}

/*.header-wrap > div {
    height: 51px;
}*/
.header-wrap {

    padding: 25px 0 24px 0;
}

.header-wrap div > * {
    vertical-align: middle;
    margin: auto 0;
}

.header-wrap > div {
    margin: auto 0;
}

.search {
    background-color: green;
    flex-grow: 1;
}

.account {
    background-color: red;
}

.but {
    width: 87px;
    height: 38px;
}

.x-split-button {
    position: relative;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
}

.x-button {
    position: relative;
    margin: 0;
    height: 38px;
    float: left;
    outline: none;
    line-height: 27px;
    border: 1px solid transparent;

}

.x-button:hover {
    cursor: pointer;
    background: #E0E0E0;
}

.x-button:active {
    background: #D3D3D3;
}

.x-button.x-button-drop {
    border-left: 0;
    height: 38px;
}

.open > .x-button-drop-menu {
    display: block;
}

.x-button-drop-menu {
    position: absolute;
    top: 27px;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #F2F2F2;
    background-clip: padding-box;
    border: 1px solid #E0E0E0;
    box-shadow: 1px 1px 2px #E0E0E0;
}

.x-button-drop-menu li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-family: arial;
    color: #444;
    text-decoration: none;
}

.x-button-drop-menu li a:hover {
    background: #D3D3D3;
}
