/* Variables */
/* Colors */
@colorBrand: #f16d7f;
@colorHighLights: #222222;
@colorHighLightsInvert: #fff;
@colorHighLightsSecond: #222224;
@colorHighLightsSecondInvert: #fbfbfb;
@colorHighLightsThird: #232323;
@colorHighLightsFourth: #4f4f4f;
@colorHighLightsFith: #838383;
@colorRegular: #9f9f9f;
@colorRegularSecond: #898989;
@colorRegularThird: #7a7a7a;
@colorBackGround: #e6e6e6;
@colorBackGroundSecond: #cdcdcc;
@colorBackGroundThird: #e8e8e8;
@colorPicts: #b2b2b2;
@colorPictsActive: #f7f7f8;
@colorFadeOut: #a4a4a4;
@colorSpacer: #ececec;
@colorBorder: #d6d6d6;
@colorInput: #e1e1e1;
@buttonGradient: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
@textBaseSize: 14px;
@textBaseLineHeight: 24px;
@textBaseWeight: 400;
@textLS: 0.025em;

/* Fonts */
.fonts(@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) {
    font-size: @size;
    line-height: @lHeight;
    font-weight: @weight;
    letter-spacing: @ls;
}

.borders(@st: solid; @color: black; @width: 1px; @radius: 3px) {
    border-style: @st;
    border-color: @color;
    border-width: @width @width @width @width;
    border-radius: @radius @radius @radius @radius;
}

.bordersNoStyleSide(@side) {
    border-@{side}-style: none !important;
}

.bordersNoRadiusSide(@side1; @side2) {
    border-@{side1}-radius: 0 !important;
    border-@{side2}-radius: 0 !important;
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

.wrap {
    width: 1140px;
    margin: 0 auto;

}


.header hr {
    border: 1px solid @colorSpacer;
}

.header-wrap {

    display: flex;
    justify-content: space-between;
    padding: 25px 15px 24px 15px;
}

.nav-wrap {}

.main-nav {

    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    list-style: none;

}

.nav-item {
    margin: 0 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: @colorHighLights;
}

.header {
    /*background-color: @colorBackGroundThird;*/
    background-color: @colorHighLightsInvert;
}

.header > div > div {

    display: flex;
    align-items: center;
}

.logo {
    margin: 10px 37px 10px 0;
    justify-content: space-between;
}


.logo a {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: @colorHighLights;
    text-decoration: none;
    display: flex;
}

.logo * {
    align-self: center;
}

.logo a > span {
    margin-left: 13px;
}

.logo span > span {
    font-weight: 900;
    color: @colorBrand;
}

.search {
    flex-grow: 1;
}


.btn {
    position: relative;

    /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
    &-decor {
        &-def {
            padding: 0;
            .fonts(@lHeight: 38px; @weight: 300);

            background-color: @colorBackGroundSecond;
            background-image: @buttonGradient;
        }

        &-brand {
            padding: 0;
            .fonts(15px; 38px; 400);

            background-color: @colorBrand;
            background-image: none;
        }

        &-bap {
            padding: 0;
            .fonts(16px; 54px; 700);

            background-color: @colorBrand;
            background-image: none;
        }
    }

    &-borders {
        .borders(@color: @colorBackGround);
    }

    &-borders-none {
        border: none;
    }

    /* left side connecting */
    &-cls {
        .bordersNoStyleSide(right);
        .bordersNoRadiusSide(top-right; bottom-right);
    }

    /* right side connecting */
    &-crs {
        .bordersNoStyleSide(left);
        .bordersNoRadiusSide(top-left; bottom-left);
    }

    &-text {
        &-def {
            padding-left: 16px;
            color: @colorHighLights;
        }

        &-brand {
            padding-left: 20px;
            color: @colorHighLightsInvert;
        }
    }

    &-icon {
        &-def {
            padding: 0 8px;
            color: @colorHighLightsFith;
        }

        &-brand {
            padding: 0 12px 0 8px;
            color: @colorHighLightsInvert;
            font-size: 14px;
        }

        &-bap {
            padding: 0 20px 0 10px;
            color: @colorHighLightsInvert;
            font-weight: 400;
        }
    }

    &-ddc {
        display: none;
        position: absolute;
        background-color: @colorHighLightsInvert;
        z-index: 1;
        min-width: 262px;

        & h3 {
            font-size: 14px;
            line-height: 32px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: @colorHighLightsThird;
        }

        & .browse-nav {
            list-style: none;
            padding: 0;
        }

        & .browse-nav .browse-link {
            text-decoration: none;
            font-size: 14px;
            line-height: 28px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: @colorHighLightsFourth;
            padding: 0;
        }

        & a {
            color: #A51D2B;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        & a:hover {
            background-color: #A51D2B;
            color: @colorHighLightsInvert;

        }
    }

    &:hover &-ddc {
        display: block;
    }

}




.splt-form {
    display: flex;

    &-search {
        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
        .fonts(14px; 38px; 300);

        &-inp {
            color: @colorFadeOut;
            width: 80%;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            padding: 0px 6px 0px 16px;

        }


        /* left side connecting */
        &-cls {
            .bordersNoStyleSide(right);
            .bordersNoRadiusSide(top-right; bottom-right);
        }

        /* right side connecting */
        &-crs {
            .bordersNoStyleSide(left);
            .bordersNoRadiusSide(top-left; bottom-left);
        }

        /* side2side */
        &-s2s {
            .bordersNoRadiusSide(top-right; bottom-right);
            .bordersNoRadiusSide(top-left; bottom-left);
        }

        &-btn {
            width: 20%;
            color: @colorFadeOut;
        }

        &-borders {
            .borders(@color: @colorBackGround);
        }

    }

    &-subscribe {
        /* (@size: @textBaseSize; @lHeight: @textBaseLineHeight; @weight: @textBaseWeight; @ls: @textLS) */
        .fonts(14px; 46px; 400);

        &-inp {
            color: @colorHighLightsSecond;
            width: 65%;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            padding: 0px 6px 0px 26px;
            background-color: @colorInput;

        }


        /* left side connecting */
        &-cls {
            .bordersNoStyleSide(right);
            .bordersNoRadiusSide(top-right; bottom-right);
        }

        /* right side connecting */
        &-crs {
            .bordersNoStyleSide(left);
            .bordersNoRadiusSide(top-left; bottom-left);
        }

        &-btn {
            width: 35%;
            color: @colorHighLightsInvert;
            background-color: @colorBrand;
        }

        &-borders {
            /*@st: solid; @color: black; @width: 1px; @radius: 3px)*/
            .borders(@st: none; @radius: 23px);
        }

    }


}


.account img {
    margin-right: 13px;
}

.account .button-cls-split {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: @colorHighLightsInvert;
    background-color: @colorBrand;
    background-image: none;
}

.slider {
    height: 613px;
    padding-top: 224px;
    background: url(../img/image_frame_84.png) center center/cover no-repeat;
    background-color: @colorBackGroundThird;
}

.slider > div > h1 {
    line-height: 1.2;
    letter-spacing: 0.025em;
    color: @colorHighLights;
    font-size: 40px;
    width: 50%;
    padding-left: 12px;
    border-left: 12px solid @colorBrand;
}

.slider > div > h1 > span:first-child {
    font-size: 60px;
}

.slider > div > h1 > span:last-child {
    color: @colorBrand;
}

.category {
    padding: 67px;
}

.category > .wrap {
    display: flex;
}

.category > .wrap > .cat-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category .item {
    padding: 10px;
    position: relative;
}

.category .item h3 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: @colorHighLights;
    display: inline-block;
    padding: 16px;
    margin: 0;
    position: absolute;
    top: 35px;
    left: 10px;
    background-color: white
}

.category .item h3 span {
    font-size: 30px;
    color: @colorBrand;
}

.products .grid .item {
    padding: 10px;
}

.products .head {
    text-align: center;
    margin-bottom: 50px;
}

.products .head h2 {
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: @colorHighLights;
}

.products .head p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: @colorRegular;
}

.products .head > * {
    margin: 0;
}

.products > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.products .grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products .grid .item h3 {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: @colorHighLights;
    margin-left: 15px
}

.products .grid .item p {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: @colorBrand;
    margin-left: 15px
}

.products .footer {
    display: flex;
    justify-content: center;
}

.products .footer .button-cls {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: @colorHighLightsInvert;
    background-color: @colorBrand;
    background-image: none;
    margin-left: 13px;
}

.products .footer .button-cls-split {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: @colorHighLightsInvert;
    background-color: @colorBrand;
    background-image: none;
}

.feature > div > div > .col:first-child > h2 {
    font-size: 53.7px;
    line-height: 0.8;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: @colorHighLightsInvert;
    margin-top: 146px;
    margin-left: 40px;
}

.feature > div > div > .col:first-child {
    background-image: url(../img/layer_39_1321.png), url(../img/rectangle_21_copy_1314.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature > div > div > .col:first-child > h2 span:first-child {
    color: @colorBrand;
}

.feature > div > div > .col:first-child > h2 span:last-child {
    font-size: 32.2px;
}

.feature .banner {
    display: flex;
    margin-top: 113px;
    margin-bottom: 97px;
}

.feature .banner > .col:first-child {
    min-width: 767px;
    min-height: 529px;
}

.feature .banner > .col:last-child {
    display: flex;
    flex-direction: column;
    min-width: 374px;
    padding: 48px 28px;
    background-color: @colorHighLightsSecond;
}

.feature .banner > .col:last-child > .item {
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.feature .banner > .col:last-child > .item img {
    align-self: flex-start;
    margin-right: 28px
}

.feature .banner > .col:last-child > .item h3 {
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: @colorHighLightsSecondInvert;
}

.feature .banner > .col:last-child > .item p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: @colorHighLightsSecondInvert;
}

.feature .banner > .col:last-child > .item {
    margin-top: 15px
}

.subscribe {
    min-height: 613px;

    background-image: url(../img/rectangle_9_copy_2196.png), url(../img/rectangle_9_2194.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: rgba(242, 242, 242, 0.5);
    background-size: cover;
}

.subscribe .cont {
    display: flex;
    justify-content: center;
}

.subscribe .cont .col {


    padding-top: 224px;
    min-height: 613px;
    min-width: 50%;
}

.subscribe .cont .col:first-child {
    border-width: 0 1px 0 0px;
    border-color: @colorHighLightsInvert;
    border-style: solid;
}

.subscribe .cont .col:first-child > .item {
    padding-right: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.subscribe .cont .col:first-child > .item img {
    align-self: flex-start;
    margin-right: 28px
}

.subscribe .cont .col:first-child > .item .cont {
    flex-direction: column;
}

.subscribe .cont .col:first-child > .item .cont p:first-child {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: @colorHighLightsSecond;
}

.subscribe .cont .col:first-child > .item .cont p:nth-child(2) {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: @colorHighLightsSecond;
}

.subscribe .cont .col:first-child > .item .cont p:nth-child(2) span {
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: @colorBrand;
}

.subscribe .sub-slide {
    text-decoration: none;

}

.subscribe .cont .col:last-child > .item {
    padding: 0 90px;
}

.subscribe .cont .col:first-child > .item .cont {
    margin: 0 32px 0 0;
}

.subscribe .sub-nav {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.subscribe .sub-nav-item {
    border-bottom: 2px;
    border-style: solid;
    border-color: @colorBorder;
    min-width: 38px;
    margin: 0 10px 0 0;
}

.subscribe .sub-nav-item-active {
    border-color: @colorBrand;
}

.subscribe .sub-nav-link {
    text-decoration: none;
}

.subscribe .cont .col:last-child > .item .cont {
    display: flex;
    flex-direction: column;
}

.subscribe .cont .col:last-child > .item .cont h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: @colorHighLightsSecond;
    text-align: center;
}

.subscribe .cont .col:last-child > .item .cont h3 span {
    font-size: 24px;
    line-height: 54px;
}


.copyright .cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 79px;
}

.copyright .cont > * {
    margin: 0 16px;
}

.copyright {

    background-color: @colorBackGround;
}

.copyright .icon-nav {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.copyright .icon-nav-item {
    background-color: @colorHighLightsInvert;
    min-width: 32px;
    min-height: 32px;
    margin: 0 10px 0 0;
    text-align: center;
}

.copyright .text {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: @colorRegularThird;
}

.copyright .icon-nav-item-active {
    background-color: @colorBrand;
}

.copyright .icon-nav-item-active a {

    color: @colorPictsActive;
}

.copyright .icon-nav-item-disabled {

    background-color: @colorHighLightsInvert;

}

.copyright .icon-nav-item-disabled {
    opacity: 0.29;
}

.copyright .icon-nav-item-disabled a {
    color: @colorPicts;
}

.copyright .icon-nav-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: @colorPicts;
}

.footer .cont {
    display: flex;
    padding: 110px 0 85px 0;
}

.footer .footer-wrap .cont .logo {
    min-width: 430px;
    margin-right: 90px;
}

.footer .cont .logo p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: @colorRegularSecond;
}

.footer .cont .col {
    margin: 0 15px;
    min-width: 15%;
}

.footer .cont .col h2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: @colorBrand;
}

.footer .footer-nav {
    list-style: none;
    padding: 0;
}

.footer .footer-nav-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: @colorRegularSecond;
}
