* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

.wrap {
    width: 1140px;
    margin: 0 auto;
    /*outline: 1px solid red;*/

}


.header hr {
    border: 1px solid #ececec;
}

.header-wrap {

    display: flex;
    justify-content: space-between;
    padding: 25px 15px 24px 15px;
}

.nav-wrap {}

.main-nav {

    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    list-style: none;

}

.nav-item {
    margin: 0 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.header {
    /*background-color: #e8e8e8;*/
    background-color: #fff;
}

.header > div > div {

    display: flex;
    align-items: center;
}

.logo {
    margin: 10px 37px 10px 0;
    justify-content: space-between;
}


.logo a {
    font-size: 27px;
    line-height: 32px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    text-decoration: none;
    display: flex;
}

.logo * {
    align-self: center;
}

.logo a > span {
    margin-left: 13px;
}

.logo span > span {
    font-weight: 900;
    color: #f16d7f;
}

.search {
    flex-grow: 1;
}


/* Dropdown Button */
.button-cls {
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    outline: none;


    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px 0px 1px 1px;
    border-radius: 3px 0px 0px 3px;
    padding: 6px 6px 6px 6px;
}

.button-cls-split {

    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    outline: none;


    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px 0px 1px 0px;
    border-radius: 0;
    padding: 6px 6px 6px 6px;
}

.dd-cls {
    display: inline-block;
}

.dd-cls:hover .dd-cont-cls {
    display: block;
}

.button-cls:hover,
.dd-cls:hover .button-cls {
    background-color: #A51D2B;
}

.dd-cont-cls {
    display: none;
    position: absolute;
    background-color: #F9DBDE;
    min-width: 160px;
    z-index: 1;

}

.dd-cont-cls a {
    color: #A51D2B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dd-cont-cls a:hover {
    background-color: #A51D2B;
    color: #fff;

}

.search form {
    display: flex;
}

/* Style the search field */
form.frm__search input[type=text] {
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px 0px 1px 1px;
    border-radius: 0;
    float: left;
    width: 80%;
    padding: 6px 6px 6px 6px;
}

/* Style the submit button */
form.frm__search button {
    float: left;
    width: 20%;
    color: #a4a4a4;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px 0px 1px 1px;
    border-radius: 0px 3px 3px 0px;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
    padding: 6px 6px 6px 6px;
}

form.frm__search button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.frm__search::after {
    content: "";
    clear: both;
    display: table;
}

.account .button-cls {
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    background-color: #f16d7f;
    background-image: none;
    margin-left: 13px;
}

.account .button-cls-split {
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    background-color: #f16d7f;
    background-image: none;
}

.slider {
    height: 613px;
    padding-top: 224px;
    background: url(../img/image_frame_84.png) center center/cover no-repeat;
    background-color: #e8e8e8;
}

.slider > div > h1 {
    line-height: 1.2;
    letter-spacing: 0.025em;
    color: #222222;
    font-size: 40px;
    width: 50%;
    padding-left: 12px;
    border-left: 12px solid #f16d7f;
}

.slider > div > h1 > span:first-child {
    font-size: 60px;
}

.slider > div > h1 > span:last-child {
    color: #f16d7f;
}
